
<div class="panel panel-primary" >
  <div class="panel-heading">
    <h3 class="panel-title"> 
      <% pic = current_user.profile_pictures.first %>
      <%= link_to image_tag(pic.image.url, class: 'img-thumbnail', alt: 'cinque Terre', width: '80', height: '40'), pic.image.url, target: '_blank' %>
      <%= current_user.first_name %> 
    </h3>
  </div>
  <div class="panel-body">
    <%= form_for :post , url: user_posts_path(current_user) do |f| %>
      <%= f.text_area :content %> 
    <div class="panel-footer">
      <%= f.submit "post" %>
    </div>
    <% end %>     
  </div>
  <% @users.each do |user| %>
    <% if user.posts.present? %>
      <% user.posts.each do |post| %>
        <div class="panel-heading">
          <h3 class="panel-title"> 
            <% if user.profile_pictures.first.present? %>
              <% pic = user.profile_pictures.first %>
              <%= link_to image_tag(pic.image.url, class: 'img-thumbnail', alt: 'cinque Terre', width: '80', height: '40'), pic.image.url, target: '_blank' %>
            <%end%>
            <%= user.first_name %> 
          </h3>
        </div> 

        <div class="panel-body">
          <p><%= post.content %></p>   
            <% if post.comments.present? %>
            <div class="panel-footer" id="last_comment">
              <% if user(post).profile_pictures.first.present? %>
                <% pic = user(post).profile_pictures.first %>
                <%= link_to image_tag(pic.image.url, class: 'img-thumbnail', alt: 'cinque Terre', width: '40', height: '40'), pic.image.url, target: '_blank' %>
              <%end%>
              <%= user(post).first_name %><br>
             <%= post.comments.last.content %>
            </div>
            <% end %>          


           <div class="panel-footer">
            <%= link_to '#', class: 'like_link', data: { url: posts_like_path(current_user,post.id) } do %>
                <span class="glyphicon glyphicon-thumbs-up votes-count" style="margin-left: 250px " id= "count"><%= post.likes.count%></span>
                <!-- <span class="glyphicon glyphicon-edit" style="margin-left: 400px"></span> -->
            <% end %>
              <span class="glyphicon glyphicon-edit" style="margin-left: 400px" id="comment"></span>

            <div id="panel">
              <%= form_for :comment , url: posts_comment_path(current_user,post.id) , id: "comment" do |f| %>
                <%= f.text_area :content %>
                <%= f.submit "comment" %>
              <% end %>
            </div>
          </div>
        </div>
      <%end %>     
    <% end %>
  <% end %>
</div>